<div class="noticeAndFeatures sm:mx-9 flex sm:flex-row flex-col">
  <!-- <div class="noticeAndFeatures sm:mx-9 grid grid-cols-1 sm:grid-cols-2"> -->
  <!-- Notice board -->

  <div class="container mx-auto mt-8 px-4 sm:w-7/12 w-10/12">
    <h2 class="text-3xl font-semibold mb-4">Notice Board</h2>

    <%- console.log(allNotices); %> <% allNotices.forEach(notice => { %> <%
    const colors = ["text-fuchsia-600", "text-orange-600", "text-yellow-600",
    "text-blue-600", "text-green-600", "text-red-600"]; %> <% const randomColor
    = colors[Math.floor(Math.random() * colors.length)]; %>

    <div class="bg-white shadow-md rounded-lg p-4 mb-4">
      <h3 class="text-xl font-semibold mb-2 <%= randomColor %>">
        <%= notice.title %>
      </h3>
      <p class="text-gray-600 wrapThis"><%= notice.content %></p>
    </div>
    <% }); %>
  </div>

  <!-- features -->

  <div class="features sm:px-6 sm:mt-8 mx-9 mt-16">
    <h2 class="text-3xl font-semibold mb-4">Features</h2>
    <div class="container mx-auto mt-8 px-4">
      <div class="grid grid-cols-1 gap-4 md:grid-cols-2 xl:grid-cols-2">
        <!-- Maintenance Section -->
        <!-- <div class="bg-white rounded-lg shadow p-4">
            <img
              src="resources/maintenance.png"
              alt="Icon"
              class="w-8 h-8 absolute bottom-0 left-0 z-0"
            />
            <div class="z-10">
              <h3 class="text-xl font-semibold mb-2">Maintenance</h3>
              <p>
                Effortlessly pay society maintenance dues online for
                hassle-free transactions.
              </p>
              <button
                class="mt-2 px-4 py-2 bg-blue-500 hover:bg-blue-600 text-white font-semibold rounded"
              >
                Pay Now
              </button>
            </div>
          </div> -->

        <div class="rounded-lg shadow p-4 relative overflow-hidden">
          <!-- Add the icon -->
          <img
            src="resources/maintenance.png"
            alt="Icon"
            class="absolute bottom-0 right-0 z-0 sm:h-44 h-36 opacity-20"
          />

          <!-- Add content for Rules and Regulations section here -->
          <div class="z-10">
            <!-- Use a higher z-index for the content to appear on top of the icon -->
            <h3 class="text-xl font-semibold mb-2">Maintenance</h3>
            <p>
              Effortlessly pay society maintenance dues online for hassle-free
              transactions.
            </p>
            <form method="POST" action="/maintenance">
              <input type="hidden" name="id" value="<%= id %>" />
              <button
                type="submit"
                class="mt-2 px-4 py-2 bg-blue-500 hover-bg-blue-600 text-white font-semibold rounded"
              >
                Pay now
              </button>
            </form>
          </div>
        </div>

        <!-- Club House Booking Section -->
        <div class="rounded-lg shadow p-4 relative overflow-hidden">
          <!-- Add the icon -->
          <img
            src="resources/clubhouse.png"
            alt="Icon"
            class="absolute bottom-0 right-0 z-0 sm:h-44 h-36 opacity-20"
          />

          <!-- Add content for Rules and Regulations section here -->
          <div class="z-10">
            <h3 class="text-xl font-semibold mb-2">Notices</h3>
            <p>
              Find all the notices that are important for you to know about.
            </p>
            <a href="/allNotices">
            <button
              class="mt-2 px-4 py-2 bg-green-500 hover:bg-green-600 text-white font-semibold rounded"
            >
              View Notices
            </button>
          </a>
          </div>
        </div>

        <!-- Complaint Box Section -->
        <div class="rounded-lg shadow p-4 relative overflow-hidden">
          <!-- Add the icon -->
          <img
            src="resources/complain.png"
            alt="Icon"
            class="absolute bottom-0 right-0 opacity-20 z-0 sm:h-44 h-36"
          />

          <!-- Add content for Rules and Regulations section here -->
          <div class="z-10">
            <h3 class="text-xl font-semibold mb-2">Complaint Box</h3>
            <p>
              Raise and track grievances, ensuring prompt resolutions and
              improved services.
            </p>
            <form method="POST" action="/complaintBox/newComplaint">
              <input type="hidden" name="id" value="<%= id %>" />
              <button
                type="submit"
                class="mt-2 px-4 py-2 bg-red-500 hover-bg-red-600 text-white font-semibold rounded"
              >
                File new complaint
              </button>
            </form>
          </div>
        </div>

        <!-- Receipts and Payment History Section -->
        <div class="rounded-lg shadow p-4 relative overflow-hidden">
          <!-- Add the icon -->
          <img
            src="resources/reciept.png"
            alt="Icon"
            class="absolute bottom-0 right-0 z-0 opacity-20 sm:h-44 h-36"
          />

          <!-- Add content for Rules and Regulations section here -->
          <div class="z-10">
            <h3 class="text-xl font-semibold mb-2">
              Receipts and Payment History
            </h3>
            <p>
              Access and download payment receipts for maintenance and other
              transactions.
            </p>
            <button
              class="mt-2 px-4 py-2 bg-fuchsia-500 hover:bg-fuchsia-600 text-white font-semibold rounded"
            >
              View Receipts
            </button>
          </div>
          <!-- Add more details and buttons as needed -->
        </div>

        <!-- Telecom List Section -->
        <div class="rounded-lg shadow p-4 relative overflow-hidden">
          <img
            src="resources/intercom.png"
            alt="Icon"
            class="absolute right-0 z-0 sm:h-44 h-36 opacity-20"
          />
          <div class="z-10">
            <h3 class="text-xl font-semibold mb-2">My Complaints</h3>
            <p>
              List of complains that you registered. Check status of your complaints.
            </p>
            <form method="POST" action="/complaintBox/myComplaints">
              <input type="hidden" name="id" value="<%= id %>" />
              <button
                type="submit"
                class="mt-2 px-4 py-2 bg-orange-500 hover-bg-orange-600 text-white font-semibold rounded"
              >
                My Complaints
              </button>
            </form>
          </div>
          <!-- Add more details and buttons as needed -->
        </div>

        <!-- Rules and Regulations Section -->
        <div class="rounded-lg shadow p-4 relative overflow-hidden">
          <img
            src="resources/rules.png"
            alt="Icon"
            class="absolute bottom-0 right-0 opacity-20 z-0 sm:h-44 h-36"
          />
          <div class="z-10">
            <!-- Add content for Rules and Regulations section here -->
            <h3 class="text-xl font-semibold mb-2">Rules and Regulations</h3>
            <p>Explore the rules and regulations that govern the society.</p>
            <a href="/rules-and-regulations">
              <button
              class="mt-2 px-4 py-2 bg-yellow-500 hover:bg-yellow-600 text-white font-semibold rounded"
              >
              Learn More
            </button>
          </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
