<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sentosa Enclave - SocietySync</title>

    <link rel="stylesheet" href="css/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body class="w-screen">
    <%- include('partials/adminDashboard/_header') %>
    <div class="flex">
      <%- include('partials/adminDashboard/_sidebar1') %> <%-
      include('partials/adminDashboard/_sidebar2') %>
    </div>

    <main class="py-16">
      <!-- Edit Event modal -->
      <div
        id="editEventModal"
        class="fixed hidden inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50"
      >
        <div class="modal-content bg-white w-96 rounded-md shadow-lg p-6">
          <div class="flex justify-between items-center mb-4">
            <h2 class="text-2xl font-semibold">Edit Event</h2>
            <button
              id="closeEditModal"
              class="text-gray-600 hover:text-red-500 text-lg focus:outline-none"
            >
              <i class="fas fa-times"></i>
            </button>
          </div>
          <form action="/eventManager" method="post" id="editEventForm">
            <div class="mb-4">
              <input type="hidden" id="id" name="id" />

              <label
                for="editTitle"
                class="block text-gray-600 text-sm font-medium mb-2"
                >Title:</label
              >
              <input
                type="text"
                id="editTitle"
                name="title"
                required
                class="w-full border border-gray-300 rounded-md p-2"
              />
            </div>
            <div class="mb-6">
              <label
                for="editContent"
                class="block text-gray-600 text-sm font-medium mb-2"
                >Content:</label
              >
              <textarea
                id="editContent"
                name="content"
                required
                class="w-full h-32 border border-gray-300 rounded-md p-2"
              ></textarea>
            </div>
            <button
              type="submit"
              class="block w-full bg-blue-500 hover:bg-blue-600 text-white rounded-md py-2"
            >
              Update Event
            </button>
          </form>
        </div>
      </div>
      <script>
        function openModal(id) {
        document.getElementById("editEventModal").style.display = "block";
        const button = document.getElementById(id);

        const EventId = button.getAttribute("data-Event-id");
        const EventTitle = button.getAttribute("data-event-title");
        const EventContent = button.getAttribute("data-event-content");

        document.getElementById("id").value = EventId;
        document.getElementById("editTitle").value = EventTitle;
        document.getElementById("editContent").value = EventContent;
      }
      </script>

      <!-- TABLE -->
      <section class="bg-white rounded-lg shadow-md p-4">
        <h2 class="text-xl font-semibold">Event List</h2>
        <div class="sm:p-20 p-4 container mx-auto">
          <div class="overflow-x-auto">
            <table class="min-w-full border rounded rounded-lg">
              <thead>
                <tr>
                  <th
                    class="py-2 px-3 bg-gray-100 font-medium text-gray-600 uppercase border border-gray-300"
                  >
                    S.No
                  </th>
                  <th
                    class="py-2 px-3 bg-gray-100 font-medium text-gray-600 uppercase border border-gray-300"
                  >
                    Title
                  </th>
                  <th
                    class="py-2 px-1 bg-gray-100 font-medium text-gray-600 uppercase border border-gray-300"
                  >
                    Description
                  </th>
                  <th
                    class="py-2 px-1 bg-gray-100 font-medium text-gray-600 uppercase border border-gray-300"
                  >
                    Locaton
                  </th>
                  <th
                    class="py-2 px-1 bg-gray-100 font-medium text-gray-600 uppercase border border-gray-300"
                  >
                    Date
                  </th>
                  <th
                    class="py-2 px-1 bg-gray-100 font-medium text-gray-600 uppercase border border-gray-300"
                  >
                    Time
                  </th>
                  <th
                    class="py-2 px-3 bg-gray-100 font-medium text-gray-600 uppercase border border-gray-300"
                  >
                    Actions
                  </th>
                </tr>
              </thead>
              <tbody>
                <% let counter = 1; %> <% events.forEach(event => { %>
                <tr>
                  <td class="py-2 px-3 border border-gray-300 text-center">
                    <%= counter %>
                  </td>

                  <td class="py-2 px-3 border border-gray-300 text-center" style="word-wrap: break-word;">
                    <div style="word-wrap: break-word;" class="w-56">
                    <%= event.title %>
                  </div>
                  </td>
                  <td class="py-2 px-1 border border-gray-300 text-center" >
                    <div style="word-wrap: break-word;" class="w-56">
                    <%= event.description %>
                  </div>
                  </td>
                  <td class="py-2 px-1 border border-gray-300 text-center">
                    <%= event.location %>
                  </td>
                  <td class="py-2 px-1 border border-gray-300 text-center">
                    <%= event.date.toLocaleDateString('en-US', { day: 'numeric',
                    month: 'short', year: 'numeric' }) %>
                  </td>
                  <td class="py-2 px-1 border border-gray-300 text-center">
                    <%= event.date.toLocaleTimeString('en-US', { hour:
                    '2-digit', minute: '2-digit' }) %>
                  </td>
                  <td
                    class="py-2 px-3 border border-gray-300 flex space-x-2 justify-around"
                  >
                    <button
                      id="<%= event._id %>"
                      class="bg-blue-200/50 hover:bg-blue-600 text-blue-600 font-semibold hover:text-white rounded-md px-2 py-1 edit-Event-button"
                      data-event-id="<%= event._id %>"
                      data-event-title="<%= event.title %>"
                      data-event-content="<%= event.description %>"
                      onclick="openModal(this.id)"
                    >
                      Edit
                    </button>

                    <form
                      action="/eventManager"
                      method="POST"
                      onsubmit="return confirm('Are you sure? This action cannot be undone');"
                    >
                      <input
                        type="hidden"
                        name="deleteId"
                        value="<%= event._id %>"
                      />
                      <button
                        type="submit"
                        class="bg-red-200/50 hover:bg-red-600 text-red-600 font-semibold hover:text-white rounded-md px-2 py-1"
                      >
                        Delete
                      </button>
                    </form>
                  </td>
                </tr>
                <% counter++; %> <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </main>

    <!-- <footer class="h-8 w-full bg-gray-500 text-center text-white">
      <span>copyright SocietySync 2023</span>
    </footer> -->

    <script src="js/script.js"></script>
    <script src="js/admin.js"></script>

    <script>
      document.getElementById("sidebar1").style.display = "none";-
      // Open the modal when the Edit button is clicked
      function openModal(id) {
        document.getElementById("editEventModal").style.display = "block";
        const button = document.getElementById(id);

        const EventId = button.getAttribute("data-Event-id");
        const EventTitle = button.getAttribute("data-event-title");
        const EventContent = button.getAttribute("data-event-content");

        document.getElementById("id").value = EventId;
        document.getElementById("editTitle").value = EventTitle;
        document.getElementById("editContent").value = EventContent;
      }

      // Close the modal when the Close button is clicked
      document
        .getElementById("closeEditModal")
        .addEventListener("click", function () {
          document.getElementById("editEventModal").style.display = "none";
        });

      function w3_close11(sidebar) {
        if (sidebar == "sidebar1") {
          document.getElementById("sidebar1").style.display = "none";
        } else {
          document.getElementById("sidebar2").style.display = "none";
        }
      }

      // expand sidebar
      document.getElementById("sidebar2").style.display = "none";
      function expandSidebar(hamBtn) {
        console.log(hamBtn);
        if (hamBtn == "hamBtn1") {
          if (document.getElementById("sidebar1").style.display == "block") {
            document.getElementById("sidebar1").style.display = "none";
          } else {
            document.getElementById("sidebar1").style.display = "block";
          }
        } else {
          if (document.getElementById("sidebar2").style.display == "block") {
            document.getElementById("sidebar2").style.display = "none";
          } else {
            document.getElementById("sidebar2").style.display = "block";
          }
        }
      }
    </script>
  </body>
</html>
